{% extends 'base_layout.html' %}

{% block content %}
    <style>
        .create_food{
        background: #00416A;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to top, #E4E5E6, #00416A);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to top, #E4E5E6, #00416A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

        height:100%;}

        .create_food_box{
        background: #00416A;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to top, #E4E5E6, #00416A);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to top, #E4E5E6, #00416A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

         height:auto;
         width:80%;
         margin:auto;
         padding: 20px;
         }

        h2{
        padding: 10px;
        text-align: left;
        color: white;
        font-weight:500;
        font-size: 50px;
        font-family:'Courier New', Courier, monospace;
        }

        .site_create_form{
         background: #00416A;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to bottom, #E4E5E6, #00416A);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to bottom, #E4E5E6, #00416A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
         height:auto;
         width:70%;
         border: 2px solid white;
         margin:auto;
         padding: 20px;
        }

        select{width: 100%;}

        input[type="submit"] { margin-top: 30px; border-radius: 30px;
        background-color: blue;
        color:white;
        font-size: 15px;
        font-family:'Courier New', Courier, monospace;}

        p{
        font-family:'Courier New', Courier, monospace;
        color:black;
        font-weight:bold;
        font-size: 20px;
        }

    </style>
    <title>create food</title>
    <div class="create_food">
        <div class="create_food_box">
        <br>
        <h2>Create a new entry</h2>
        <br>

        <form class="site_create_form" action="" method="POST">
            {% csrf_token %}
            <p>Food title:{{ form.title }}</p> <br><br>
            <p>Food brand: {{ form.brand }}</p> <br><br>
            <p>Type of Diet: {{ form.diet }}</p>
            <p>Quantity: {{ form.quantity }}</p> <br><br>
            <p>Calories: {{ form.calories }}</p> <br><br>
            <p>Total Fats: {{ form.fats }} G</p> <br><br>
            <p>Cholesterol: {{ form.cholesterol }} MG</p> <br><br>
            <p>Sodium: {{ form.sodium }} MG</p> <br><br>
            <p>Total Carbohydrates: {{ form.carbs }} G</p> <br><br>
            <p>Protein: {{ form.proteins }} G</p> <br><br>
            <p>Total Sugar: {{ form.sugar }}G</p> <br><br>
            <p>Total Potassium: {{ form.potassium }} MG</p> <br><br>
            <p>Food Ingredients: {{form.ingredients}}</p> <br><br>
            <p>Food Allergens: {{form.allergens}}</p> <br><br>
            <p>slug entry: {{form.slug}}</p> <br><br>

            <input type="submit" value="Create Food">
        </form>
         </div>
    </div>
    <script src="/static/slugify.js"/></script>
{% endblock %}