{% extends 'base_layout.html' %}

{% block content %}
    <style>
        body{
        background: #00416A;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to bottom, #E4E5E6, #00416A);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to bottom, #E4E5E6, #00416A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        height: 100vh;
        }

        .food_detail{ linear-gradient(to bottom, #000428, #004e92);
        height:100%;
        }
        .food_details_box{ background:white;
         height:auto;
         width:80%;
         border: 2px solid white;
         margin:auto;
         padding: 20px;
         }

         h2{
        padding: 10px;
        text-align: center;
        color: black;
        font-weight:400;
        font-size: 40px;
        font-family:'Courier New', Courier, monospace;
        }

        p{
        font-family:'Courier New', Courier, monospace;
        color:black;
        font-weight:bold;
        font-size: 20px;
        }


    </style>
    <body>
    <div class="food_detail">
        <br>
        <div class="food_details_box">
            <h2>{{food.title}}</h2>
            <p>Type of diet : {{food.diet}}</p>
            <p>Calories     : {{food.calories}}</p>
            <p>Proteins     : {{food.proteins}}g</p>
            <p>Fats         : {{food.fats}}g</p>
            <p>Carbohydrates: {{food.carbs}}g</p>
            <p>Cholesterol  : {{food.cholesterol}}mg</p>
            <p>Sodium       : {{food.sodium}}mg</p>
            <p>Potassium    : {{food.potassium}}mg</p>
            <p>Sugar        : {{food.sugar}}g</p>
            <p>Ingredients  : {{food.ingredients}}</p>
            <p>Allergens    : {{food.allergens}}</p>
        </div>
    </div>
</body>
{% endblock %}

