{% extends 'base_layout.html' %}

{% block content %}
    <style>
        body{ background:linear-gradient(to top, #000428, #004e92);}
        .food_detail{ linear-gradient(to bottom, #000428, #004e92);
        height:100%;
        }
        .food_details_box{ background:white;
         height:auto;
         width:80%;
         border: 2px solid white;
         margin:auto;
         padding: 20px;
         }

         h2{
        padding: 10px;
        text-align: center;
        color: black;
        font-weight:400;
        font-size: 40px;
        font-family:'Courier New', Courier, monospace;
        }

        p{
        font-family:'Courier New', Courier, monospace;
        color:black;
        font-weight:bold;
        font-size: 20px;
        }


    </style>
    <body>
    <div class="food_detail">
        <br>
        <div class="food_details_box">
            <h2>{{food.title}}</h2>
            <p>Type of diet : {{food.diet}}</p>
            <p>Calories     : {{food.calories}}</p>
            <p>Proteins     : {{food.proteins}}g</p>
            <p>Fats         : {{food.fats}}g</p>
            <p>Carbohydrates: {{food.carbs}}g</p>
            <p>Cholesterol  : {{food.cholesterol}}mg</p>
            <p>Sodium       : {{food.sodium}}mg</p>
            <p>Potassium    : {{food.potassium}}mg</p>
            <p>Sugar        : {{food.sugar}}g</p>
            <p>Ingredients  : {{food.ingredients}}</p>
            <p>Allergens    : {{food.allergens}}</p>
        </div>
    </div>
</body>
{% endblock %}

