{% load static %}

<style>
  .hello-msg{
    font-size: 18px;
    color: #fff;
    margin-right: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 150%;
  }

  .navbar-brand{
  font-family: Stencil Std, fantasy;
  font-size: 200%;
  }

  .nav-item{
  font-family: 'Courier New', Courier, monospace;
  font-size: 150%;
  }
</style>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
<!--<nav class="navbar navbar-dark bg-primary">-->
<!--<nav class="navbar navbar-light" style="background-color: #e3f2fd;">-->
  <a class="navbar-brand" href="{% url 'food_trackers:home' %}">Grub'nLog</a>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'food_trackers:profile' %}">Profile <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'food_trackers:log_food' %}"> LogFood </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'food_trackers:create' %}"> CreateFood </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'food_trackers:history' %}"> History</a>
      </li>

    </ul>
  </div>
    {% if user.is_authenticated %}
    {% csrf_token %}
    <span class="hello-msg">Hello, {{request.user}} </span>

    <span class="hello-msg"><a href="{% url 'food_trackers:logout' %}">Logout</a></span>
    {% else %}
    <span class="hello-msg"><a href="{% url 'food_trackers:login' %}">Login</a></span>
    {% endif %}
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>

